node_modules
dist
coverage
.git
.github
.vscode
.idea

.env
.env.*
!.env.example

*.log
npm-debug.log*

test
**/*.spec.ts
**/*.e2e-spec.ts

README.md
readme.txt
.prettierrc
eslint.config.mjs
tsconfig*.json
nest-cli.json

Dockerfile
captain-definition
.dockerignore
